header,
.home,
.about,
.accommodation,
.error {
    margin: 0 6.25rem 0 6.25rem;
    @include media-query(large) {
        margin: 0 4.5rem 0 4.5rem;
    }
    @include media-query(medium) {
        margin: 0 2.75rem 0 2.75rem;
    }
    @include media-query(small) {
        margin: 0 1.25rem 0 1.25rem;
    }
}

body {
    font-family: "Montserrat", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p,
h1,
h2,
a,
button p {
    line-height: 142.6%;
}
