#root {
    margin: 0 6.25rem 0 6.25rem;
    min-height: 95vh;
}

body {
    font-family: 'Montserrat', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

// p {
//     font-weight: 400;
// }