.slider {
    position: relative;
    overflow: hidden;
    border-radius: 25px;

    &__content {
        height: 26rem;
        width: 100%;
        display: flex;
        @include media-query(large) {
            height: 365px;
        }
        @include media-query(medium) {
            height: 305px;
        }
        @include media-query(small) {
            height: 255px;
        }

        &__img {
            &--active {
                display: block;
                object-fit: cover;
                height: 100%;
                width: 100%;
                flex: none;
                animation: fadein 0.8s ease-out;
            }

            &--inactive {
                flex: none;
                object-fit: cover;
                height: 100%;
                width: 100%;
                display: none;
            }
        }
    }

    &__control {
        position: absolute;
        inset: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;

        &__previous {
            img {
                transform: rotate(90deg);
                height: 5rem;
                width: 3rem;
                @include media-query(large) {
                    height: 3.75rem;
                    width: 2.25rem;
                }
                @include media-query(medium) {
                    height: 2.5rem;
                    width: 1.5rem;
                }
                @include media-query(small) {
                    height: 1.25rem;
                    width: 0.75rem;
                }
            }
            img:hover {
                filter: invert(70%) sepia(0%) saturate(4%) hue-rotate(171deg) brightness(100%) contrast(82%);
                transform: scale(1.1) rotate(90deg);
            }
        }

        &__next {
            img {
                transform: rotate(270deg);
                height: 5rem;
                width: 3rem;
                @include media-query(large) {
                    height: 3.75rem;
                    width: 2.25rem;
                }
                @include media-query(medium) {
                    height: 2.5rem;
                    width: 1.5rem;
                }
                @include media-query(small) {
                    height: 1.25rem;
                    width: 0.75rem;
                }
            }
            img:hover {
                filter: invert(70%) sepia(0%) saturate(4%) hue-rotate(171deg) brightness(100%) contrast(82%);
                transform: scale(1.1) rotate(270deg);
            }
        }

        &__preview {
            color: $white;
            font-size: 1.125rem;
            font-style: normal;
            display: flex;
            align-self: flex-end;
            @include media-query(large) {
                font-size: 1rem;
            }
            @include media-query(medium) {
                font-size: 0.875rem;
            }
            @include media-query(small) {
                display: none;
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}

@keyframes fadein {
    0% {
        display: none;
        opacity: 0;
    }

    5% {
        display: block;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
