.host {
    display: flex;
    justify-content: flex-end;

    &__text {
        margin-top: 0.6rem;
        @include media-query(large) {
            margin-top: 0.45rem;
        }
        @include media-query(medium) {
            margin-top: 0.35rem;
        }
        @include media-query(small) {
            margin-top: 0.2rem;
        }

        p {
            margin: 0;
            font-size: 1.125rem;
            margin-right: 10px;
            text-align: end;
            @include media-query(medium) {
                font-size: 1rem;
            }
            @include media-query(medium) {
                font-size: 0.875rem;
            }
            @include media-query(small) {
                font-size: 0.75rem;
            }
        }
    }

    &__picture {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        @include media-query(large) {
            height: 3.25rem;
            width: 3.25rem;
        }
        @include media-query(medium) {
            height: 2.5rem;
            width: 2.5rem;
        }
        @include media-query(small) {
            height: 2rem;
            width: 2rem;
        }
    }
}
