.host {
    display: flex;
    justify-content: flex-end;

    &__text {
        margin-top: 0.6rem;
        @include media-query(small) {
            margin-top: 0.2rem;
        }

        p {
            margin: 0;
            font-size: 1.125rem; //18px
            margin-right: 10px;
            text-align: end;
            @include media-query(small) {
                font-size: 0.75rem;
            }
        }
    }

    &__picture {
        border-radius: 50%;
        height: 64px;
        width: 64px;
        @include media-query(small) {
            height: 32px;
            width: 32px;
        }
    }
}
