.tag {
    background: $primary-color;
    border-radius: 10px;
    height: 25px;
    color: $white;
    padding: 0 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        font-size: 0.875rem;
        font-weight: 500;
        @include media-query(medium) {
            font-size: 0.75rem;
        }
        @include media-query(small) {
            font-size: 0.625rem;
        }
    }
}
