.header {
    margin-top: 2.5rem;
    margin-bottom: 2.75rem;
    display: flex;
    justify-content: space-between;

    &__logo {
        @include media-query(large) {
            width: 85%;
        }
        @include media-query(medium) {
            width: 75%;
        }
        @include media-query(small) {
            width: 145px;
            height: 47px;
        }
    }
    &__logo:hover {
        filter: brightness(85%) contrast(160%) grayscale(16%);
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 3.25rem;
        color: $primary-color;
        @include media-query(small) {
            gap: 0.625rem;
        }

        a {
            color: $primary-color;
            font-size: 1.5rem;
            @include media-query(large) {
                font-size: 1.25rem;
            }
            @include media-query(medium) {
                font-size: 1rem;
            }
            @include media-query(small) {
                font-size: 0.75rem;
            }
        }

        a:hover {
            color: $dark-red;
        }

        a.active {
            text-decoration: underline;
        }
    }
}
